tap "adoptopenjdk/openjdk"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/core"
tap "homebrew/services"

brew "act"
brew "age"
brew "automake"
brew "gdbm"
brew "openssl@1.1"
brew "readline"
brew "awscli"
brew "bat"
brew "bazelisk"
brew "bison"
brew "buildifier"
brew "chezmoi"
brew "chruby"
brew "cloc"
brew "cmake"
brew "libffi"
brew "pkg-config"
brew "libpng"
brew "snappy"
brew "colima"
brew "docker"
brew "docker-credential-helper"
brew "dust"
brew "exa"
brew "fd"
brew "freetype"
brew "fzf"
brew "gh"
brew "git"
brew "git-delta"
brew "git-lfs"
brew "gnupg"
brew "go"
brew "hdf5"
brew "htop"
brew "jenv"
brew "jq"
brew "libxml2"
brew "libxmlsec1"
brew "libyaml"
brew "openjdk"
brew "maven"
brew "memcached"
brew "mysql"
brew "mysql-client"
brew "nodenv"
brew "nvm"
brew "openssl@3"
brew "overmind"
brew "postgresql", restart_service: true
brew "pre-commit"
brew "prometheus"
brew "pyenv"
brew "pyenv-virtualenv"
brew "ripgrep"
brew "rsync"
brew "ruby-install"
brew "source-highlight"
brew "ssh-copy-id"
brew "swig"
brew "tfenv"
brew "tgenv"
brew "the_silver_searcher"
brew "virtualenv"
brew "wget"
brew "yarn"
brew "zoxide"


cask "adoptopenjdk8"
cask "aws-vault"
cask 'coderunner'
cask "istat-menus"
cask "iterm2"
cask 'kaleidoscope'
cask "kitty"
cask "macvim"
cask "mimestream"
cask "paw"
cask 'postico'
cask "postman"
cask "visual-studio-code"

tap "eth-p/software"
brew "eth-p/software/bat-extras"

tap "romkatv/powerlevel10k"
brew "romkatv/powerlevel10k/powerlevel10k"

tap "syncdk/yawsso"
brew "syncdk/yawsso/yawsso"
