tap "adoptopenjdk/openjdk"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/core"
tap "homebrew/services"

# brew info --json=v2 --installed | jq -r '.formulae[]|select(any(.installed[]; .installed_on_request)) | [.full_name, .desc] | @tsv' | column -ts $'\t'

brew "act"
brew "age"
brew "automake"
brew "awscli"
brew "bat"
brew "bazelisk"
brew "bison"
brew "buildifier"
brew "ca-certificates"
brew "chezmoi"
brew "chruby"
brew "cloc"
brew "cmake"
brew "colima"
brew "curl"
brew "docker-credential-helper"
brew "docker"
brew "dust"
brew "ejson"
brew "eksctl"
brew "exa"
brew "fd"
brew "ffmpeg"
brew "flyctl"
brew "freetype"
brew "fzf"
brew "gdbm"
brew "gh"
brew "git-delta"
brew "git-lfs"
brew "git"
brew "gnupg"
brew "go"
brew "goreleaser"
brew "grep"
brew "hdf5"
brew "htop"
brew "hyperfine"
brew "imagemagick"
brew "jenv"
brew "jq"
brew "kubeconform"
brew "kubernetes-cli"
brew "libffi"
brew "libpng"
brew "libxml2"
brew "libxmlsec1"
brew "libyaml"
brew "maven"
brew "memcached"
brew "mysql-client"
brew "mysql"
brew "nodenv"
brew "nvm"
brew "openapi-generator"
brew "openjdk"
brew "openssl@1.1"
brew "openssl@3"
brew "overmind"
brew "pam-reattach"
brew "pipenv"
brew "pkg-config"
brew "postgresql@15", restart_service: true
brew "pre-commit"
brew "pre-commit"
brew "prettier"
brew "prometheus"
brew "pstree"
brew "pyenv-virtualenv"
brew "pyenv"
brew "readline"
brew "redis"
brew "ripgrep"
brew "rsync"
brew "ruby-install"
brew "rustup-init"
brew "shellcheck"
brew "shfmt"
brew "snappy"
brew "source-highlight"
brew "ssh-copy-id"
brew "swig"
brew "tailscale"
brew "tfenv"
brew "tgenv"
brew "the_silver_searcher"
brew "tmux"
brew "vim"
brew "virtualenv"
brew "wget"
brew "xcodes"
brew "yamllint"
brew "yarn"
brew "yq"
brew "yt-dlp"
brew "zoxide"
brew "zsh"
brew "zstd"


cask "1password-cli"
cask "adoptopenjdk8"
cask "aws-vault"
cask "handbrake"
cask "istat-menus"
cask "iterm2"
cask "kaleidoscope"
cask "kitty"
cask "launchcontrol"
cask "macvim"
cask "mimestream"
cask "ngrok"
cask "orbstack"
cask "postman"
cask "visual-studio-code"
cask "vlc"


tap "eth-p/software"
brew "eth-p/software/bat-extras"

tap "romkatv/powerlevel10k"
brew "romkatv/powerlevel10k/powerlevel10k"

tap "nerdsniped/microplane"
brew "nerdsniped/microplane/microplane"
