[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	email = {{ .email }}
	name = {{ .name }}
[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[push]
	autoSetupRemote = true
[branch]
	autosetupmerge = true
[color]
	branch = auto
	diff = auto
	status = auto
	ui = auto
[core]
	legacyheaders = false
	excludesfile = ~/.gitignore
	pager = delta
	attributesfile = ~/.gitattributes
[rerere]
	enabled = true
[diff]
	algorithm = patience
	colorMoved = default
	tool = Kaleidoscope
[rebase]
	autoStash = true
[merge "npm-merge-driver"]
	name = automatically merge npm lockfiles
	driver = npx npm-merge-driver merge %A %O %B %P
[merge "yarn-merge-driver"]
        name = automatically merge yarn lockfiles
        driver = npx npm-merge-driver merge %A %O %B %P -c yarn
[merge "bundler-merge-driver"]
	name = automatically merge bundler lockfiles
	driver = npx npm-merge-driver merge %A %O %B %P -c 'bundle install'
[merge "schema-merge-driver"]
	name = automatically merge Rails schema files
	driver = npx npm-merge-driver merge %A %O %B %P -c 'bin/rake db:migrate'
[diff "rust"]
	xfuncname = "^[ \t]*((pub)?[ \t]*((fn|struct|enum|impl|trait|mod)[^;]*))$"
[diff "rspec"]
	xfuncname = "^[ \t]*((RSpec|describe|context|it|before|after|around|feature|scenario|background)[ \t].*)$"
[diff "plist"]
	textconv = plutil -convert xml1 -o -
[diff "age"]
	textconv = chezmoi decrypt
[init]
	defaultBranch = main
[alias]
  co = checkout
	d = diff
	oops = "!git commit --all --amend --no-edit"
	pr  = "!f() { git fetch -fu ${2:-origin} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
  sha = log -1 --pretty=format:%H
	uncommit = reset --soft HEAD^
	br = "!fbr () {\n\
	local branches branch\n\
	branches=$(git for-each-ref --count=30 --sort=-committerdate refs/heads/ --format=\"%(refname:short)\")  && branch=$(echo \"$branches\" |\n\
	fzf-tmux -d $(( 2 + $(wc -l <<< \"$branches\") )) +m)  && git checkout $(echo \"$branch\" | sed \"s/.* //\" | sed \"s#remotes/[^/]*/##\")\n\
}; fbr"
[pull]
	rebase = true
[advice]
	skippedCherryPicks = false
[branch "main"]
	pushRemote = NOPE

[difftool "Kaleidoscope"]
       cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
       prompt = false
       trustExitCode = true
[merge]
       tool = Kaleidoscope
[mergetool "Kaleidoscope"]
       cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
       trustExitCode = true
[mergetool]
       prompt = false
[http]
       postBuffer = 1048576000
       lowSpeedLimit = 0
       lowSpeedTime = 999999

[maintenance]
	repo = /Users/segiddins/.zsh/znap/MichaelAquilina/zsh-you-should-use
	repo = /Users/segiddins/.zsh/znap/lukechilds/zsh-nvm
	repo = /Users/segiddins/.zsh/znap/romkatv/powerlevel10k
	repo = /Users/segiddins/.zsh/znap/scriptingosx/mac-zsh-completions
	repo = /Users/segiddins/.zsh/znap/softmoth/zsh-vim-mode
	repo = /Users/segiddins/.zsh/znap/unixorn/fzf-zsh-plugin
	repo = /Users/segiddins/.zsh/znap/zsh-users/zsh-autosuggestions
	repo = /Users/segiddins/.zsh/znap/zsh-users/zsh-history-substring-search
	repo = /Users/segiddins/.zsh/znap/zsh-users/zsh-syntax-highlighting

[delta "light-mode"]
	light = true
	syntax-theme = GitHub
[delta "dark-mode"]
	light = false
	syntax-theme = Visual Studio Dark+
[delta]
	navigate = true

[interactive]
	diffFilter = delta --color-only --features "$(defaults read -globalDomain AppleInterfaceStyle &> /dev/null && echo dark-mode || echo light-mode)"

