# created: 2025-09-03T18:31:59-07:00
# public key: age10tgt9vtdnnekd4ex0cgj4gtts05leps2wu78a08pkqyjlmrgkcdqmh3m26
{{ (onepasswordDetailsFields "4oq462adkabsiwayazu2acxzxy" "pdsbguibbh5kwzslidh4k65afm" "JUXKRETZHVCRLDSRSCVDAXD3FY").password.value }}
